body {
  font-family: 'Montserrat', sans-serif;
}

#question-container {
  border-radius: 10px;
  background-color: #e5f9ff;
  padding: 60px;
  margin: 20px;
  font-size: 32px;
  font-weight: lighter;
}

.buttons-container {
  display: flex;
  width: 100%
}

.container {
  width: 80%; 
  margin: auto;
}

.button {
  background-color: lightyellow;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  padding: 32px;
  font-size: 60px;
  margin: auto;
}

.button:hover {
  box-shadow: none;
  cursor: pointer;
}